body {
    text-align: center;
    background-color: brown;
}

#btn {
    width:20%;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}

#bod {
    background: brown;
}

#output {
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}